* {
 margin: 0;
 padding:0;
}

body {
    font-family: sans-serif;
    background-color: var(--primary-themecolor);
    color: rgb(36, 36, 36);
}

nav {
    margin-top: 2vh;
    font-size: 200%;
    color: var(--h2-text);
    background-color: var(--primary-themecolor);
}



ul li {
    padding: 20px;
    right: 0;
}

p {
    display:flex;
    box-sizing:border-box;
    font-size: 275%;
}

button {
    color: #E8F3F4;
    font-size: var(--primary-textcolor);
    border: none;
}

#background-img {
    background-image: url(../images/background-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h2 {
    font-size: 400%;
    text-align: center;
}

.heading {
    font-size: 1000%;
}

.sub-heading {
    font-size: 400%;
}

.line {
    border-right: 5px solid var(--secondary-color);
    /* margin-right: 2em; */
    /* padding-right: 2em; */
    min-width: 10vw; /*ask this */
    max-width: 10vw;
    
}

.linegap{
    gap: var(--gap, 1rem);
    justify-content: space-between;
    padding-bottom: 2em;
}

.portfolio-box-big{
    /* width: auto;
    height: 554px; */
    border-radius: 15px;
    background-color: var(--secondary-color);
}

.portfolio-box-small{
    /* width: 366px;
    height: 242px; */
    border-radius: 15px;
    background-color: var(--secondary-color);
}



.contact-me {
    box-sizing: border-box;
    justify-content: center;
    
    

}

.contact-me:hover {
   background-color: var(--secondary-color); 
}


.btn-contact{
    background-color: var(--primary-themecolor);
    font-size: 32px;
    margin-right:1rem;

}

.footer {
    width: 100%;
    font-size: 2rem;
    
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

/* 
@media screen and (max-width: 992px) {
    .line{
        position:relative;
    }
    
  }
  
  
  @media screen and (max-width: 768px) {
    .line{
        position:relative;
    }
    
  }
  

  @media screen and (max-width: 576px) {
    .line{
        
    }
    #image{
        width:25vw;
    }
  } */