* {
 margin: 0;
 padding:0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary-themecolor);
    color: rgb(65, 60, 60);
}

nav {
    margin-top: 2vh;
    font-size: 200%;
    
    background-color: var(--primary-themecolor);
}



ul li {
    padding: 20px;
    color: var(--h2-text);
}

p {
    display:flex;
    box-sizing:border-box;
    font-size: 500%;
}

button {
    color: black;
    font-size: var(--primary-textcolor);
    border: none;
}

#background-img {
    background-image: url(../images/background-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cloud-bg {
    background-image: url(../images/cloud-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#work-bg {
    background-image: url(../images/work-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 400%;
    text-align: center;
}

.heading {
    font-size: 1000%;
}

.sub-heading {
    font-size: 400%;
}

.title {
    font-size: 500%;
}


.portfolio-box-big{
    /* width: auto;
    height: 554px; */
    border-radius: 15px;
    background-color: var(--secondary-color);
}

.portfolio-box-small{
    /* width: 366px;
    height: 242px; */
    border-radius: 15px;
    background-color: var(--secondary-color);
}



.contact-me {
    box-sizing: border-box;
    justify-content: center;
    
    

}

.contact-me:hover {
   background-color: var(--secondary-color); 
}


.btn-contact{
    background-color: var(--primary-themecolor);
    font-size: 55px;
    margin-right:1rem;

}

.footer {
    width: 100%;
    font-size: 2rem;
    
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

/* 
@media screen and (max-width: 992px) {
    .line{
        position:relative;
    }
    
  }
  
  
  @media screen and (max-width: 768px) {
    .line{
        position:relative;
    }
    
  }
  

  @media screen and (max-width: 576px) {
    .line{
        
    }
    #image{
        width:25vw;
    }
  } */